
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #e4ce0f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    background-color: #e60012;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
  }
  
  .product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
  }
  
  .product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .price {
    font-size: 1.2rem;
    color: #e60012;
  }
  
  .add-to-cart {
    background-color: #e60012;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .add-to-cart:hover {
    background-color: #c1000a;
}

